In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
table = pd.read_csv("/content/2017_jun_final.csv")
print(table)

         N                 Должность Язык.программирования Специализация  \
0        1        Junior QA engineer                   NaN     Manual QA
1        2        Junior QA engineer                   NaN     Manual QA
2        3         Software Engineer               C#/.NET           NaN
3        4         Software Engineer            JavaScript           NaN
4        5  Senior Software Engineer            JavaScript           NaN
...    ...                       ...                   ...           ...
8699  8700               QA engineer                   NaN     Manual QA
8700  8701                 Marketing                   NaN           NaN
8701  8702  Junior Software Engineer            Ruby/Rails           NaN
8702  8703                 Team lead                   NaN           NaN
8703  8704  Senior Software Engineer                  Java           NaN

     Общий.опыт.работы Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
0                  0.5                          0.5               400
1     меньше 3 месяцев             меньше 3 месяцев               430
2                    4                            1              2500
3                    5                            4              2000
4       10 и более лет                          0.5              4500
...                ...                          ...               ...
8699                 1             меньше 3 месяцев               700
8700               0.5                          0.5               400
8701                 1                          0.5               800
8702                 6                            4              2600
8703                 7                            2              5000

      Изменение.зарплаты.за.12.месяцев    Город     Размер.компании  ...  \
0                                    0  Харьков       до 10 человек  ...
1                                  130  Харьков  свыше 1000 человек  ...
2                                  800     Киев     до 1000 человек  ...
3                                  400   Одесса      до 200 человек  ...
4                                  500   Другой       до 10 человек  ...
...                                ...      ...                 ...  ...
8699                               700   Одесса       до 50 человек  ...
8700                               120     Киев       до 50 человек  ...
8701                               500    Львов       до 10 человек  ...
8702                                 0    Днепр  свыше 1000 человек  ...
8703                               800   Одесса     до 1000 человек  ...

     Еще.студент Уровень.английского                    Предметная.область  \
0           True       ниже среднего                         iOS,eCommerce
1           True       выше среднего                        Веб-разработка
2          False             средний  Веб-разработка,Корпоративные системы
3          False       ниже среднего   Desktop Applications,Веб-разработка
4          False             средний   Desktop Applications,Веб-разработка
...          ...                 ...                                   ...
8699       False             средний          Android,Desktop Applications
8700       False       ниже среднего                             eCommerce
8701       False       выше среднего  Веб-разработка,Корпоративные системы
8702       False         продвинутый                       Финансы и банки
8703       False       выше среднего                        Веб-разработка

          Дата.заполнения                                         User.Agent  \
0     12/06/2017 12:38:08  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
1     12/06/2017 12:42:51  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...
2     12/06/2017 13:02:47  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
3     12/06/2017 13:03:01  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
4     12/06/2017 13:03:47  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...
...                   ...                                                ...
8699  12/07/2017 15:45:24  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....
8700  12/07/2017 17:00:06  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
8701  12/07/2017 17:32:26  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
8702  12/07/2017 18:14:59  Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...
8703  12/07/2017 21:28:57  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...

       exp current_job_exp salary Валюта  cls
0      0.5             0.5    400    NaN   QA
1      0.0             0.0    430    NaN   QA
2      4.0             1.0   2500    NaN  DEV
3      5.0             4.0   2000    NaN  DEV
4     10.0             0.5   4500    NaN  DEV
...    ...             ...    ...    ...  ...
8699   1.0             0.0    700    NaN   QA
8700   0.5             0.5    400    NaN  NaN
8701   1.0             0.5    800    NaN  DEV
8702   6.0             4.0   2600    NaN   PM
8703   7.0             2.0   5000    NaN  DEV

[8704 rows x 25 columns]

In [5]:
head_table = table.head()
print(head_table)

   N                 Должность Язык.программирования Специализация  \
0  1        Junior QA engineer                   NaN     Manual QA
1  2        Junior QA engineer                   NaN     Manual QA
2  3         Software Engineer               C#/.NET           NaN
3  4         Software Engineer            JavaScript           NaN
4  5  Senior Software Engineer            JavaScript           NaN

  Общий.опыт.работы Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
0               0.5                          0.5               400
1  меньше 3 месяцев             меньше 3 месяцев               430
2                 4                            1              2500
3                 5                            4              2000
4    10 и более лет                          0.5              4500

   Изменение.зарплаты.за.12.месяцев    Город     Размер.компании  ...  \
0                                 0  Харьков       до 10 человек  ...
1                               130  Харьков  свыше 1000 человек  ...
2                               800     Киев     до 1000 человек  ...
3                               400   Одесса      до 200 человек  ...
4                               500   Другой       до 10 человек  ...

  Еще.студент Уровень.английского                    Предметная.область  \
0        True       ниже среднего                         iOS,eCommerce
1        True       выше среднего                        Веб-разработка
2       False             средний  Веб-разработка,Корпоративные системы
3       False       ниже среднего   Desktop Applications,Веб-разработка
4       False             средний   Desktop Applications,Веб-разработка

       Дата.заполнения                                         User.Agent  \
0  12/06/2017 12:38:08  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
1  12/06/2017 12:42:51  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...
2  12/06/2017 13:02:47  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
3  12/06/2017 13:03:01  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
4  12/06/2017 13:03:47  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...

    exp current_job_exp salary Валюта  cls
0   0.5             0.5    400    NaN   QA
1   0.0             0.0    430    NaN   QA
2   4.0             1.0   2500    NaN  DEV
3   5.0             4.0   2000    NaN  DEV
4  10.0             0.5   4500    NaN  DEV

[5 rows x 25 columns]

In [6]:
rows, columns = head_table.shape
print(f"rows: {rows}\ncolumns: {columns}")

rows: 5
columns: 25

In [7]:
print(table.dtypes)

N                                     int64
Должность                            object
Язык.программирования                object
Специализация                        object
Общий.опыт.работы                    object
Опыт.работы.на.текущем.месте         object
Зарплата.в.месяц                      int64
Изменение.зарплаты.за.12.месяцев      int64
Город                                object
Размер.компании                      object
Тип.компании                         object
Пол                                  object
Возраст                               int64
Образование                          object
Университет                          object
Еще.студент                            bool
Уровень.английского                  object
Предметная.область                   object
Дата.заполнения                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

In [8]:
isnull_table = table.isnull().sum()
print(isnull_table)

N                                      0
Должность                              0
Язык.программирования               3850
Специализация                       7219
Общий.опыт.работы                      0
Опыт.работы.на.текущем.месте           0
Зарплата.в.месяц                       0
Изменение.зарплаты.за.12.месяцев       0
Город                                  0
Размер.компании                        0
Тип.компании                           0
Пол                                    0
Возраст                                0
Образование                            0
Университет                          358
Еще.студент                            0
Уровень.английского                    0
Предметная.область                   223
Дата.заполнения                        0
User.Agent                             0
exp                                    0
current_job_exp                        0
salary                                 0
Валюта                              8694
cls                                 1574
dtype: int64

In [9]:
ind = 0
while ind < len(table.isnull().sum()):
  for i in table:
    if i != "Язык.программирования" and isnull_table[ind] > 0:
      table = table.drop([i], axis=1)
    ind += 1

print(table)

         N                 Должность Язык.программирования Общий.опыт.работы  \
0        1        Junior QA engineer                   NaN               0.5
1        2        Junior QA engineer                   NaN  меньше 3 месяцев
2        3         Software Engineer               C#/.NET                 4
3        4         Software Engineer            JavaScript                 5
4        5  Senior Software Engineer            JavaScript    10 и более лет
...    ...                       ...                   ...               ...
8699  8700               QA engineer                   NaN                 1
8700  8701                 Marketing                   NaN               0.5
8701  8702  Junior Software Engineer            Ruby/Rails                 1
8702  8703                 Team lead                   NaN                 6
8703  8704  Senior Software Engineer                  Java                 7

     Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
0                             0.5               400
1                меньше 3 месяцев               430
2                               1              2500
3                               4              2000
4                             0.5              4500
...                           ...               ...
8699             меньше 3 месяцев               700
8700                          0.5               400
8701                          0.5               800
8702                            4              2600
8703                            2              5000

      Изменение.зарплаты.за.12.месяцев    Город     Размер.компании  \
0                                    0  Харьков       до 10 человек
1                                  130  Харьков  свыше 1000 человек
2                                  800     Киев     до 1000 человек
3                                  400   Одесса      до 200 человек
4                                  500   Другой       до 10 человек
...                                ...      ...                 ...
8699                               700   Одесса       до 50 человек
8700                               120     Киев       до 50 человек
8701                               500    Львов       до 10 человек
8702                                 0    Днепр  свыше 1000 человек
8703                               800   Одесса     до 1000 человек

         Тип.компании      Пол  Возраст           Образование  Еще.студент  \
0      Аутсорсинговая  женский       20  Незаконченное высшее         True
1      Аутсорсинговая  женский       21  Незаконченное высшее         True
2      Аутсорсинговая  мужской       26                Высшее        False
3         Продуктовая  мужской       30               Среднее        False
4         Продуктовая  мужской       30    Техникум / Колледж        False
...               ...      ...      ...                   ...          ...
8699   Аутсорсинговая  мужской       23                Высшее        False
8700      Продуктовая  женский       22                Высшее        False
8701  Аутстаффинговая  мужской       30  Незаконченное высшее        False
8702   Аутсорсинговая  мужской       34                Высшее        False
8703      Продуктовая  мужской       28                Высшее        False

     Уровень.английского      Дата.заполнения  \
0          ниже среднего  12/06/2017 12:38:08
1          выше среднего  12/06/2017 12:42:51
2                средний  12/06/2017 13:02:47
3          ниже среднего  12/06/2017 13:03:01
4                средний  12/06/2017 13:03:47
...                  ...                  ...
8699             средний  12/07/2017 15:45:24
8700       ниже среднего  12/07/2017 17:00:06
8701       выше среднего  12/07/2017 17:32:26
8702         продвинутый  12/07/2017 18:14:59
8703       выше среднего  12/07/2017 21:28:57

                                             User.Agent   exp  \
0     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5
1     Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...   0.0
2     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0
3     Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0
4     Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0
...                                                 ...   ...
8699  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....   1.0
8700  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5
8701  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0
8702  Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...   6.0
8703  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...   7.0

      current_job_exp  salary
0                 0.5     400
1                 0.0     430
2                 1.0    2500
3                 4.0    2000
4                 0.5    4500
...               ...     ...
8699              0.0     700
8700              0.5     400
8701              0.5     800
8702              4.0    2600
8703              2.0    5000

[8704 rows x 20 columns]

In [10]:
new_isnull_table = table.isnull().sum()
print(new_isnull_table)

N                                      0
Должность                              0
Язык.программирования               3850
Общий.опыт.работы                      0
Опыт.работы.на.текущем.месте           0
Зарплата.в.месяц                       0
Изменение.зарплаты.за.12.месяцев       0
Город                                  0
Размер.компании                        0
Тип.компании                           0
Пол                                    0
Возраст                                0
Образование                            0
Еще.студент                            0
Уровень.английского                    0
Дата.заполнения                        0
User.Agent                             0
exp                                    0
current_job_exp                        0
salary                                 0
dtype: int64

In [11]:
new_table = table.dropna()
print(new_table)

         N                 Должность Язык.программирования Общий.опыт.работы  \
2        3         Software Engineer               C#/.NET                 4
3        4         Software Engineer            JavaScript                 5
4        5  Senior Software Engineer            JavaScript    10 и более лет
6        7  Junior Software Engineer               C#/.NET                 1
7        8  Senior Software Engineer                   C++                 6
...    ...                       ...                   ...               ...
8692  8693         Software Engineer                  Java                 5
8694  8695  Junior Software Engineer               C#/.NET                 1
8695  8696         Software Engineer                Python                 1
8701  8702  Junior Software Engineer            Ruby/Rails                 1
8703  8704  Senior Software Engineer                  Java                 7

     Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
2                               1              2500
3                               4              2000
4                             0.5              4500
6                меньше 3 месяцев               600
7                               1              3300
...                           ...               ...
8692                            1              3500
8694                            1               550
8695                          0.5              1500
8701                          0.5               800
8703                            2              5000

      Изменение.зарплаты.за.12.месяцев        Город  Размер.компании  \
2                                  800         Киев  до 1000 человек
3                                  400       Одесса   до 200 человек
4                                  500       Другой    до 10 человек
6                                  100  Хмельницкий    до 50 человек
7                                  500         Киев    до 10 человек
...                                ...          ...              ...
8692                               650     Удаленно   до 200 человек
8694                               550      Харьков   до 200 человек
8695                              1000         Киев    до 10 человек
8701                               500        Львов    до 10 человек
8703                               800       Одесса  до 1000 человек

         Тип.компании      Пол  Возраст           Образование  Еще.студент  \
2      Аутсорсинговая  мужской       26                Высшее        False
3         Продуктовая  мужской       30               Среднее        False
4         Продуктовая  мужской       30    Техникум / Колледж        False
6      Аутсорсинговая  мужской       23                Высшее        False
7         Продуктовая  мужской       28                Высшее        False
...               ...      ...      ...                   ...          ...
8692   Аутсорсинговая  женский       28                Высшее        False
8694   Аутсорсинговая  мужской       23                Высшее        False
8695          Стартап  мужской       29                Высшее        False
8701  Аутстаффинговая  мужской       30  Незаконченное высшее        False
8703      Продуктовая  мужской       28                Высшее        False

     Уровень.английского      Дата.заполнения  \
2                средний  12/06/2017 13:02:47
3          ниже среднего  12/06/2017 13:03:01
4                средний  12/06/2017 13:03:47
6          ниже среднего  12/06/2017 13:04:26
7          выше среднего  12/06/2017 13:04:27
...                  ...                  ...
8692             средний  12/07/2017 13:26:49
8694       ниже среднего  12/07/2017 14:14:33
8695             средний  12/07/2017 14:39:21
8701       выше среднего  12/07/2017 17:32:26
8703       выше среднего  12/07/2017 21:28:57

                                             User.Agent   exp  \
2     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0
3     Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0
4     Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0
6     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   1.0
7     Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:53....   6.0
...                                                 ...   ...
8692  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...   5.0
8694  Mozilla/5.0 (Windows NT 10.0; WOW64; rv:54.0) ...   1.0
8695  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0
8701  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0
8703  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...   7.0

      current_job_exp  salary
2                 1.0    2500
3                 4.0    2000
4                 0.5    4500
6                 0.0     600
7                 1.0    3300
...               ...     ...
8692              1.0    3500
8694              1.0     550
8695              0.5    1500
8701              0.5     800
8703              2.0    5000

[4854 rows x 20 columns]

In [12]:
print(new_table.shape)

(4854, 20)

In [13]:
python_data = new_table[new_table["Язык.программирования"] == "Python"]
print(python_data)

         N                 Должность Язык.программирования Общий.опыт.работы  \
12      13         Software Engineer                Python                 1
68      69         Software Engineer                Python               1.5
87      88  Junior Software Engineer                Python               0.5
114    115  Junior Software Engineer                Python               1.5
143    144  Junior Software Engineer                Python                 1
...    ...                       ...                   ...               ...
8546  8547         Software Engineer                Python                 5
8625  8626         Software Engineer                Python                 4
8635  8636  Senior Software Engineer                Python    10 и более лет
8673  8674  Junior Software Engineer                Python               0.5
8695  8696         Software Engineer                Python                 1

     Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
12               меньше 3 месяцев               800
68                            0.5               900
87                            0.5               600
114                           0.5               685
143                             1               750
...                           ...               ...
8546                            1              2000
8625                            1              1750
8635             меньше 3 месяцев              4000
8673                          0.5               350
8695                          0.5              1500

      Изменение.зарплаты.за.12.месяцев      Город     Размер.компании  \
12                                 200       Киев       до 50 человек
68                                 900       Киев       до 10 человек
87                                   0       Киев       до 10 человек
114                                250       Киев     до 1000 человек
143                                250       Киев       до 10 человек
...                                ...        ...                 ...
8546                               800  Запорожье       до 50 человек
8625                                 0       Киев  свыше 1000 человек
8635                              1300   Удаленно       до 10 человек
8673                                50       Киев       до 50 человек
8695                              1000       Киев       до 10 человек

        Тип.компании      Пол  Возраст           Образование  Еще.студент  \
12    Аутсорсинговая  мужской       26                Высшее        False
68           Стартап  мужской       21  Незаконченное высшее         True
87    Аутсорсинговая  мужской       19  Незаконченное высшее         True
114   Аутсорсинговая  мужской       21  Незаконченное высшее        False
143   Аутсорсинговая  мужской       21  Незаконченное высшее         True
...              ...      ...      ...                   ...          ...
8546  Аутсорсинговая  мужской       22  Незаконченное высшее        False
8625  Аутсорсинговая  мужской       28               Среднее        False
8635         Стартап  мужской       33                Высшее        False
8673  Аутсорсинговая  мужской       22                Высшее        False
8695         Стартап  мужской       29                Высшее        False

     Уровень.английского      Дата.заполнения  \
12         ниже среднего  12/06/2017 13:05:54
68         выше среднего  12/06/2017 13:11:17
87         выше среднего  12/06/2017 13:12:25
114              средний  12/06/2017 13:14:52
143        выше среднего  12/06/2017 13:19:10
...                  ...                  ...
8546             средний  10/07/2017 14:11:26
8625             средний  11/07/2017 16:15:40
8635       выше среднего  11/07/2017 17:51:36
8673             средний  12/07/2017 09:37:16
8695             средний  12/07/2017 14:39:21

                                             User.Agent   exp  \
12    Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   1.0
68    Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   1.5
87    Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   0.5
114   Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.5
143   Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0
...                                                 ...   ...
8546  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...   5.0
8625  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....   4.0
8635  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...  10.0
8673  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....   0.5
8695  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0

      current_job_exp  salary
12                0.0     800
68                0.5     900
87                0.5     600
114               0.5     685
143               1.0     750
...               ...     ...
8546              1.0    2000
8625              1.0    1750
8635              0.0    4000
8673              0.5     350
8695              0.5    1500

[207 rows x 20 columns]

In [14]:
print(python_data.shape)

(207, 20)

In [15]:
python_data.groupby("Должность")
print(python_data)

         N                 Должность Язык.программирования Общий.опыт.работы  \
12      13         Software Engineer                Python                 1
68      69         Software Engineer                Python               1.5
87      88  Junior Software Engineer                Python               0.5
114    115  Junior Software Engineer                Python               1.5
143    144  Junior Software Engineer                Python                 1
...    ...                       ...                   ...               ...
8546  8547         Software Engineer                Python                 5
8625  8626         Software Engineer                Python                 4
8635  8636  Senior Software Engineer                Python    10 и более лет
8673  8674  Junior Software Engineer                Python               0.5
8695  8696         Software Engineer                Python                 1

     Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
12               меньше 3 месяцев               800
68                            0.5               900
87                            0.5               600
114                           0.5               685
143                             1               750
...                           ...               ...
8546                            1              2000
8625                            1              1750
8635             меньше 3 месяцев              4000
8673                          0.5               350
8695                          0.5              1500

      Изменение.зарплаты.за.12.месяцев      Город     Размер.компании  \
12                                 200       Киев       до 50 человек
68                                 900       Киев       до 10 человек
87                                   0       Киев       до 10 человек
114                                250       Киев     до 1000 человек
143                                250       Киев       до 10 человек
...                                ...        ...                 ...
8546                               800  Запорожье       до 50 человек
8625                                 0       Киев  свыше 1000 человек
8635                              1300   Удаленно       до 10 человек
8673                                50       Киев       до 50 человек
8695                              1000       Киев       до 10 человек

        Тип.компании      Пол  Возраст           Образование  Еще.студент  \
12    Аутсорсинговая  мужской       26                Высшее        False
68           Стартап  мужской       21  Незаконченное высшее         True
87    Аутсорсинговая  мужской       19  Незаконченное высшее         True
114   Аутсорсинговая  мужской       21  Незаконченное высшее        False
143   Аутсорсинговая  мужской       21  Незаконченное высшее         True
...              ...      ...      ...                   ...          ...
8546  Аутсорсинговая  мужской       22  Незаконченное высшее        False
8625  Аутсорсинговая  мужской       28               Среднее        False
8635         Стартап  мужской       33                Высшее        False
8673  Аутсорсинговая  мужской       22                Высшее        False
8695         Стартап  мужской       29                Высшее        False

     Уровень.английского      Дата.заполнения  \
12         ниже среднего  12/06/2017 13:05:54
68         выше среднего  12/06/2017 13:11:17
87         выше среднего  12/06/2017 13:12:25
114              средний  12/06/2017 13:14:52
143        выше среднего  12/06/2017 13:19:10
...                  ...                  ...
8546             средний  10/07/2017 14:11:26
8625             средний  11/07/2017 16:15:40
8635       выше среднего  11/07/2017 17:51:36
8673             средний  12/07/2017 09:37:16
8695             средний  12/07/2017 14:39:21

                                             User.Agent   exp  \
12    Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   1.0
68    Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   1.5
87    Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   0.5
114   Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.5
143   Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0
...                                                 ...   ...
8546  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...   5.0
8625  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....   4.0
8635  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...  10.0
8673  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....   0.5
8695  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0

      current_job_exp  salary
12                0.0     800
68                0.5     900
87                0.5     600
114               0.5     685
143               1.0     750
...               ...     ...
8546              1.0    2000
8625              1.0    1750
8635              0.0    4000
8673              0.5     350
8695              0.5    1500

[207 rows x 20 columns]

In [16]:
new_data = python_data.groupby("Должность").agg({"Зарплата.в.месяц": ["min", "max"]})
print(new_data)

                         Зарплата.в.месяц
                                      min   max
Должность
Junior Software Engineer              100  1250
Senior Software Engineer             1300  9200
Software Engineer                     500  5400
System Architect                     3000  5000
Technical Lead                       1425  6200

In [56]:
def fill_avg_salary():
  avg_salary = python_data.groupby("Должность")["Зарплата.в.месяц"].mean()
  avg = pd.DataFrame({"avg": avg_salary})
  return avg


print(fill_avg_salary())

                                  avg
Должность
Junior Software Engineer   560.841270
Senior Software Engineer  3387.096774
Software Engineer         1799.070000
System Architect          4000.000000
Technical Lead            3165.909091

In [60]:
avg_data = fill_avg_salary().describe()
print(avg_data)

               avg
count     5.000000
mean   2582.583427
std    1387.255829
min     560.841270
25%    1799.070000
50%    3165.909091
75%    3387.096774
max    4000.000000

In [62]:
avg_data.to_csv("avg_data_2023")